@keyframes appearAnimation {
  from {
    opacity: 0.2;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.titleSkillsContainer,
.articleprojects,
.divAboutMe,
.h1SectionTitle,
.footerNavContact,
.divMadedWith,
.divTitle-Btn,
.liExperience,
.projectDescription,
.divTecnologieLogos,
.logoSkills,
.AnchorContactFooter,
.madedWithIcons,
.divContact,
.divInfoContact,
.AboutMeFoto {
  animation: appearAnimation ease both;
  animation-range: entry 30% cover 25%;
  animation-timeline: view();
}
