/*MOBILE DESIGN*/

@media (max-width: 767px) {
  main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navContainer {
    position: fixed;
    height: 70px;
    width: 100vw;
  }

  .bigImgLayout {
    padding-inline: 0% !important;
  }

  .showBigImg {
    width: 85% !important;
  }

  .btnDiv {
    position: absolute;
    width: auto;
    top: 70px;
    right: 0;
    flex-direction: column;
    align-items: end;
    animation: none;
  }

  .sectionPresentation {
    flex-direction: column;
    padding: 120px 0 0 0;
  }

  .divPresentation {
    width: 100%;
    align-items: center;
  }

  .gmailIcon {
    width: 16px;
    height: 16px;
  }

  .navContainer {
    width: 100%;
  }

  .anchorDiv {
    width: 100%;
    padding: 8px 13px 8px 13px;
    gap: 12px;
  }

  .anchorContact {
    font-size: 12px;
    font-weight: 600;
  }

  .anchorNav {
    font-size: 12px;
    padding: 2px;
  }

  .laptopIcon {
    font-size: 20px;
  }

  .paragraphPresentation {
    text-align: center;
    width: auto;
  }

  .btnsDiv {
    gap: 12px;
  }

  .divprojects {
    display: flex;
    flex-direction: column;
  }

  .articleprojects {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .projectImgDiv {
    width: auto;
  }

  .projectImgs {
    width: 100%;
  }

  .projectTitle {
    font-size: 25px;
    max-width: 180px;
  }

  .skillsDiv {
    width: fit-content;
    background-color: rgb(31, 29, 34);
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    padding-inline: 16px;
    padding-block: 8px;
    border: solid 1px #444343;
  }

  .divArticleContainer {
    display: flex;
    gap: 20px;
  }

  .divAboutMe {
    align-items: center;
    flex-direction: column;
  }

  .p-aboutMe {
    text-align: center;
  }

  .h1Name {
    text-align: center;
  }

  .divContact {
    align-items: flex-start;
    flex-direction: column;
  }

  .divContactContainer {
    flex-direction: column;
    gap: 50px;
  }

  .divMadedWith {
    padding: 0 0 10px 0;
  }

  .copyright-p {
    text-align: center;
  }
}

/* SMALL MOBILE DESIGN */

@media (width < 375px) {
  .anchorNav {
    font-size: 10px;
  }
}

/*TABLETS DESIGN*/

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    width: screen;
    padding-left: 50px;
    padding-right: 50px;
  }

  .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .btnDiv {
    bottom: -38px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    animation: none;
  }

  .sectionPresentation {
    padding: 120px 0 0 0;
    flex-direction: column;
  }

  .projectImgs {
    width: 100%;
  }

  .divPresentation {
    align-items: center;
  }

  .bigImgLayout {
    padding-inline: 0% !important;
  }

  .divprojects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .articleprojects {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .projectTitle {
    font-size: 25px;
    max-width: 180px;
  }

  .divTitle-Btn {
    gap: 30px;
  }

  .projectDescription {
    width: auto;
  }

  .AboutMeFoto {
    height: 290px;
  }
}
