.articleSkillContainer {
  width: auto;
  height: auto;
  background-color: #272727;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  border: solid 2px #222222;
  padding: 30px;
  border-radius: 10px;
  background-image: linear-gradient(rgb(28, 29, 44), rgb(31, 29, 34));
  transition: 0.2s;
}

.sectionSkills {
  max-width: 910px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.articleSkillContainer:hover {
  border: solid 2px #393939;
}

.logoSkills {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.logoSkills:hover {
  scale: 1.2;
}

.titleSkillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.titleSkills {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
}
